/* Set box-sizing to 'inherit' for all elements */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

/* Reset margin, padding, and set letter-spacing for all elements */
* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
}

/* Define CSS custom properties for color palette */
:root {
    --primary-color: #000;
    --secondary-color: rgb(24 24 27);
    --border: rgba(63, 63, 70, 0.4);
    --title: rgb(244 244 245);
    --subTitle: rgb(161 161 170);

    --bgHeader: rgb(39, 39, 42);
    --bgBlue: rgb(93, 188, 252);
}

/* Define light theme by changing primary color */
.light {
    --primary-color: rgb(250, 250, 250);
    --secondary-color: rgb(255, 255, 255);
    --border: rgba(202, 202, 202, 0.518);
    --title: rgb(244 244 245);
    --subTitle: rgb(161 161 170);

    --bgHeader: rgb(39, 39, 42);
    --bgBlue: rgb(93, 188, 252);

}

/* Body styles */
body {
    background-color: var(--primary-color);
    color: #fff;
}

/* Container styles */
.container {
    border: 2px solid var(--border);
    width: 80%;
    margin: auto;
    background: var(--secondary-color);
}

/* Divider styles */
.divider {
    border-bottom: 1px solid var(--border);
    padding-top: 22px;
}

/* Remove list styling */
li {
    list-style: none;
}

/* Link styles */
a {
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}

/* Example of a border class with a red border */
.border {
    border: 1px solid red;
}

.scrollTop {
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgba(25, 118, 210, 0.85);
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.4s;
}

.scrollTop:hover {
    background-color: rgb(25, 118, 210);
}